{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(contactForm) }}
        {{ form_row(contactForm.name) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.message) }}
        <button type="submit" class="btn-primary btn">Send</button>
    {{ form_end(contactForm) }}
{% endblock %}
